<a href="https://colab.research.google.com/github/Giridhar-github/DSML/blob/main/exp4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from scipy import stats

In [ ]:
movies=pd.read_csv("IMDb movies.csv")
#print the first five rows with headers
print(movies.head(3))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                                                                                               UK  ...  58.0
tt0063231 Live a Little, Love a Little Live a Little, Love a Little 1968 1968-10-23 Comedy, Musical, Romance   90  ...   5.0
tt0063233 Lo voglio morto              Lo voglio morto              1968 1968-06-15 Western                    82  ...   4.0
tt0063236 Lonesome Cowboys             Lonesome Cowboys             1968 1971-05-12 Comedy, Crime, Drama      109  ...  13.0

[3 rows x 16 columns]

In [32]:
#check nulldata
print("Null values: \n")
print(movies.isna()) #same as movies.isnull().sum()
print(movies.isna().sum())
print("null values %s "%movies.isnull().values.any())
print("total null values %d"%movies.isna().sum().sum())
print(movies.describe())

Null values:

                                                                                                                     UK  ...   58.0
tt0063231 Live a Little, Love a Little   Live a Little, Love a Little   1968 1968-10-23 Comedy, Musical, Romance  False  ...  False
tt0063233 Lo voglio morto                Lo voglio morto                1968 1968-06-15 Western                   False  ...  False
tt0063236 Lonesome Cowboys               Lonesome Cowboys               1968 1971-05-12 Comedy, Crime, Drama      False  ...  False
tt0063237 Un lungo giorno per morire     The Long Day's Dying           1968 1968-09-27 Drama, War                False  ...  False
tt0063240 La nebbia degli orrori         The Lost Continent             1968 1968-06-19 Adventure                 False  ...  False
...                                                                                                                 ...  ...    ...
tt9908390 Le lion                        Le lion                        2020 2020-01-29 Comedy                    False  ...  False
tt9911196 De Beentjes van Sint-Hildegard De Beentjes van Sint-Hildegard 2020 2020-02-13 Comedy, Drama             False  ...  False
tt9911774 Padmavyuhathile Abhimanyu      Padmavyuhathile Abhimanyu      2019 2019-03-08 Drama                     False  ...   True
tt9914286 Sokagin Çocuklari              Sokagin Çocuklari              2019 2019-03-15 Drama, Family             False  ...   True
tt9914942 La vida sense la Sara Amat     La vida sense la Sara Amat     2019 2020-02-05 Drama                     False  ...  False

[72262 rows x 16 columns]
UK                                                                                                                                                                                                                               0
 USA"                                                                                                                                                                                                                           64
English                                                                                                                                                                                                                        636
Anthony Harvey                                                                                                                                                                                                                  85
James Goldman, James Goldman                                                                                                                                                                                                  1521
Haworth Productions                                                                                                                                                                                                           4372
Peter O'Toole, Katharine Hepburn, Anthony Hopkins, John Castle, Nigel Terry, Timothy Dalton, Jane Merrow, Nigel Stock, Kenneth Ives, O.Z. Whitehead, Fran Stafford, Ella More, Kenneth Griffith, Henry Woolf, Karol Hagar       67
1183 A.D.: King Henry II's three sons all want to inherit the throne, but he won't commit to a choice. They and his wife variously plot to force him.                                                                         2001
7.9                                                                                                                                                                                                                              0
28450                                                                                                                                                                                                                            0
$ 4000000                                                                                                                                                                                                                    51058
$ 18177                                                                                                                                                                                                                      57593
$ 18177.1                                                                                                                                                                                                                    41853
Unnamed: 13                                                                                                                                                                                                                  59383
191.0                                                                                                                                                                                                                         7283
58.0                                                                                                                                                                                                                         10713
dtype: int64
null values True
total null values 236629
                 UK           7.9  ...         191.0          58.0
count  72262.000000  72262.000000  ...  64979.000000  61549.000000
mean     101.980266      5.806851  ...     49.969282     30.116947
std       21.772441      1.273496  ...    193.897044     62.834738
min       41.000000      1.000000  ...      1.000000      1.000000
25%       90.000000      5.100000  ...      3.000000      3.000000
50%       97.000000      6.000000  ...      8.000000      9.000000
75%      110.000000      6.700000  ...     27.000000     26.000000
max      808.000000      9.900000  ...  10472.000000    999.000000

[8 rows x 6 columns]